# Google OAuth 2.0 클라이언트 ID (Google Cloud Console)
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=

# 카카오 REST API 키 (카카오 개발자 콘솔)
EXPO_PUBLIC_KAKAO_CLIENT_ID=
